.hero {
	background: #efeee5;
	margin-bottom: 2em;
	background-image: url("../../img/hero_banner.jpg");
	height: 540px;
	width: auto;
	background-position: center;
	/* download bar */
}

.contain-to-grid {
	width: 100%;
	background: #2a5d84;
}

.top-bar-section {
	background: rgb(42, 93, 132);
}

.top-bar-section ul {
	display: inline-flex;

}